html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.25);
}
form {
  display: inline-block;
}
textarea {
  resize: none;
}
#alertPrompt {
  display: none;
}
