body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.25);
}
